.float-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    background-color: #25D366;
  }
  .float-whatsapp i {
    font-size: 40px; /* Ajusta el tamaño del ícono según tus preferencias */
  }
  .float-whatsapp:hover {
    transform: scale(1.1);
  }
