<app-page-header [header]="'Lista de Deseos'" [breadcrumbs]="[
    {label: 'Inicio', url: '/'},
    {label: 'Lista de Deseos', url: ''}
]"></app-page-header>

<div class="block block-empty" *ngIf="!(wishlist.items$ | async)?.length">
    <div class="container">
        <div class="block-empty__body">
            <div class="block-empty__message">Su lista de deseos está vacía!</div>
            <div class="block-empty__actions">
                <a routerLink="/" class="btn btn-primary btn-sm">Continuar</a>
            </div>
        </div>
    </div>
</div>

<div class="block" *ngIf="(wishlist.items$ | async)?.length">
    <div class="container" *ngIf="form">
        <form [formGroup]="form">
            <table class="wishlist">
                <thead class="wishlist__head">
                    <tr class="wishlist__row">
                        <th class="wishlist__column wishlist__column--image">Imagen</th>
                        <th class="wishlist__column wishlist__column--product">Producto</th>
                        <th class="wishlist__column wishlist__column--stock">Inventario</th>
                        <th class="wishlist__column wishlist__column--price">Precio</th>
                        <th class="wishlist__column wishlist__column--tocart">Cantidad</th>
                        <th class="wishlist__column wishlist__column--tocart"></th>
                        <th class="wishlist__column wishlist__column--remove"></th>
                    </tr>
                </thead>
                <tbody class="wishlist__body">
                    <tr *ngFor="let product of wishlist.items$ | async; let i = index" class="wishlist__row">
                        <td class="wishlist__column wishlist__column--image">
                            <div class="product-image">
                                <a *ngIf="product.images?.length" [routerLink]="root.product(product.id, product.urlAmigable)" class="product-image__body">
                                    <img [alt]="product.name" class="product-image__img" [src]="product.images[0]" [ngClass]="{'imagen' : product.availability === 'No Disponible' && !this.storeSvc.configuracionSitio.SuperarInventario}" loading="lazy">
                                </a>
                            </div>
                        </td>
                        <td class="wishlist__column wishlist__column--product">
                            <a [routerLink]="root.product(product.id, product.urlAmigable)" class="wishlist__product-name">{{ product.name | titlecase }}</a>
                            <div class="wishlist__product-rating">
                                <app-rating [value]="product.rating"></app-rating>
                                <!-- <div class="wishlist__product-rating-legend">{{ product.reviews }} Comentarios</div> -->
                            </div>
                        </td>
                        <td class="wishlist__column wishlist__column--stock">
                            <span *ngIf="product.availability === 'Disponible'" class="text-success">{{ product.availability }}</span>
                            <span *ngIf="product.availability === 'No Disponible'" class="text-danger">{{ product.availability }}</span>
                        </td>
                        <td class="wishlist__column wishlist__column--price">{{ product.price | currency }}</td>
                        <td class="wishlist__column wishlist__column--tocart">
                            <app-input-number formControlName="quantity" aria-label="Quantity" size="sm" [min]="1" [max]="maxCantidad(product)"></app-input-number>
                        </td>
                        <td class="wishlist__column wishlist__column--tocart">
                            <button  [disabled]=" product.availability === 'No Disponible'  &&  product.availability === 'No Disponible' && !this.storeSvc.configuracionSitio.SuperarInventario" type="button" class="btn btn-primary btn-sm" (click)="addToCart(product, i)" [ngClass]="{'btn-loading': addedToCartProducts.includes(product)}">Agregar al Carro</button>
                        </td>
                        <td class="wishlist__column wishlist__column--remove">
                            <button type="button" class="btn btn-light btn-sm btn-svg-icon btn-svg-icon-delete" (click)="remove(product)" [ngClass]="{'btn-loading': removedProducts.includes(product)}">
                                <app-icon name="cross-12" size="12"></app-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
