<app-page-header [breadcrumbs]="[
    {label: 'Inicio',                 url: '../../'},
    {label: 'Políticas de Privacidad', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">Políticas de Privacidad</h1>
            </div>
            <div class="document__content typography">

                <div [innerHTML]="pagina.PoliticasPrivacidad"></div>

            </div>
        </div>
    </div>
</div>
