<div class="card">
    <div class="card-header">
        <h5>Editar Dirección</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-xl-8">
                <form [formGroup]="EditarDireccionForm" (ngSubmit)="submitForm()" > 
                    <div class="form-group">
                        <label for="checkout-country">Pais</label>
                        <select id="checkout-country" formControlName="Pais" class="form-control form-control-select2" >
                            <option value="" default selected>Selecciones su Pais</option>
                            <option value="Colombia">Colombia</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="checkout-state">Estado / Departamento</label>
                        <select id="checkout-state" formControlName="Departamento" (change)="CambiarCiudadDepartamento($event.target['value'])" class="form-control form-control-select2">
                            <option value="" default selected>Selecciones su Estado / Departamento</option>
                            <option *ngFor="let Departamento of this.usuariosvc.departamentos" [value]="Departamento" >{{Departamento | titlecase}}</option>
                        </select>
                    </div>    

                    <div class="form-group">
                        <label for="checkout-city">Ciudad / Municipio</label>
                        <select id="checkout-city" formControlName="Ciudad" (change)="CambiarBarrioCiudad($event.target['value'])" class="form-control form-control-select2">
                            <option value="" default selected>Selecciones su Ciudad / Municipio</option>
                            <option *ngFor="let ciudad of this.ciudadesDepartamento" [value]="ciudad.ciudad" >{{ciudad.ciudad | titlecase}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="checkout-barrio">Barrio</label>
                        <select id="checkout-barrio" formControlName="Barrio" class="form-control form-control-select2">
                            <option value="" default selected>Selecciones su Barrio</option>
                            <option *ngFor="let barrios of this.BarrioCiudades " [value]="barrios.dirIdBarr" >{{barrios.barrio | titlecase}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="checkout-barrio">Prefijo</label>
                        <select id="checkout-barrio" formControlName="Prefijo" class="form-control form-control-select2">
                            <option value="" default selected>Selecciones su Prefijo</option>
                            <option *ngFor="let prefijo of usuariosvc.objMaestrosLocalizacion.prefijos" [value]="prefijo.idPref" >{{prefijo.prefijo | titlecase}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="checkout-prefijouno">Calle, Carrera etc.</label>
                        <input type="text" class="form-control" formControlName="CalleCarrera" id="checkout-street-address" placeholder="Calle, Carrera etc.">

                    </div>

                    <div class="form-group">
                        <label for="checkout-street-address">Dirección</label>
                        <input type="text" class="form-control" formControlName="Direccion" id="checkout-street-address" placeholder="Dirección">
                    </div>

                    <div class="form-group">
                        <label for="checkout-address">Apartamento, Interior, Unidad etc. <span class="text-muted">(Opcional)</span></label>
                        <input type="text" class="form-control" formControlName="Interior"  id="checkout-address" placeholder="Apartamento, Interior, Unidad etc.">
                    </div>

                    <div class="form-group">
                        <label for="checkout-postcode">Código Postal<span class="text-muted">(Opcional)</span></label>
                        <input type="text" class="form-control" formControlName="CodigoPostal" id="checkout-postcode" placeholder="Código Postal">
                    </div>

                    <div class="form-group mt-3 mb-0">
                        <button 
                        type="submit" 
                        [disabled]="loading" 
                        class="btn btn-primary mt-2 mt-md-3 mt-lg-4">
                        <i *ngIf="!loading"> Guardar </i>
                        <i *ngIf="loading"> Cargando.... </i>
                        </button>
                    </div><br>

                    <div class="alert alert-danger" *ngIf="mensajerespuestaerror.length > 0" role="alert">
                        {{mensajerespuestaerror}}
                    </div>
                    <div class="alert alert-success" *ngIf="mensajerespuestaexito.length>0" role="alert">
                        {{mensajerespuestaexito}}
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
